

.yes-donate-button-disable {
    background-color: var(--third-color) !important;
    color: var(--white-color)!important;
}

.yes-donate-button-enable {
    background-color: var(--primary-color)!important;
    color: var(--white-color)!important;
}
.text-disabled {
    color: var(--primary-color);
}
.text-enable {
    color: var(--white-color);
}
.donateText{
    font-size: 13px;
}