.dashboard{
    background-color: red;
}
.MuiPaper-root{
      background-color: red;  
}
.dashboard_text{
  margin-left: -30px;
  color:var(--white-color);
  font-size: 10px;
}
.dashboard_text span{
  font-size: 12px;
}
.drawer_noactive{
   color:var(--white-color);
}
.drawer_active{
  color: var(--primary-color);
}